<html>
<head>
    <meta charset="utf-8">
    <style>
        * { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; font-size: 14px; box-sizing: border-box }

        body {
            font-size: 16px;
            background: #eee;
            margin: 0;
            height: 100%;
        }

        h1 {
            margin-left:18px;
            font-weight: normal;
            font-size: 1.3rem;
            margin-top: 20px;
        }
        pre {
            margin: 0 0 20px 0;
        }

        p.label {
            margin: 5px 0;
        }

        .demo {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            overflow: auto;
        }

        .demo > div {
            margin: 0 18px
        }

        .demo > div+div {
            flex: 1
        }

        .locale-wrapper {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
        }
        .locale-wrapper > span {
            font-size: 1.2rem;
            margin-right: 10px;
        }
        .code-wrapper {
            margin-top: 0.8rem;
            height: 100%;
            overflow: auto;
        }
        .hljs-keyword, .hljs-name {
            font-weight: normal !important;
        }

        button {
            border: 0;
            background: #3f3f3f;
            border-radius: 4px;
            color: #fff;
            padding: 5px 10px;
            cursor: pointer;
            transition: background-color 300ms ease-out;
        }
        button:hover {
            background: #603b5f;
        }

        .tabs__content {
            display: none; /* по умолчанию прячем все блоки */
        }
        .tabs__content.active {
            display: block; /* по умолчанию показываем нужный блок */
        }

        .tabs__caption {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            margin: -1px 0 0 -1px;
            padding: 0;
        }
        .tabs__caption li:last-child:before {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            right: -2px;
            z-index: -1;
            height: 5px;
        }
        .tabs__caption:after {
            content: '';
            display: table;
            clear: both;
        }
        .tabs__caption li {
            padding: 9px 15px;
            margin: 1px 0 0 1px;
            background: #3f3f3f;
            color: #FFF;
            position: relative;
            border: solid #3f3f3f;
            border-width: 2px 2px 0;
            border-radius: 5px 5px 0 0;
            text-align: center;
        }
        .tabs__caption li:not(.active) {
            cursor: pointer;
        }
        .tabs__caption li:not(.active):hover {
            background: #603b5f;
            border-color: #603b5f;
        }
        .tabs__caption .active {
            background: #FFF;
            color: #000;
            border-color: #3f3f3f;
        }
        .tabs__content code {
            padding: 18px;
            min-height: 480px;
        }
    </style>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/default.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/zenburn.min.css" />
</head>
<body>
<h1>Blockly playground</h1>
<xml id="startBlocks" style="display: none">
    <block type="controls_if" inline="false" x="20" y="20">
        <mutation else="1"></mutation>
        <value name="IF0">
            <block type="logic_compare" inline="true">
                <field name="OP">EQ</field>
                <value name="A">
                    <block type="math_arithmetic" inline="true">
                        <field name="OP">MULTIPLY</field>
                        <value name="A">
                            <block type="math_number">
                                <field name="NUM">6</field>
                            </block>
                        </value>
                        <value name="B">
                            <block type="math_number">
                                <field name="NUM">7</field>
                            </block>
                        </value>
                    </block>
                </value>
                <value name="B">
                    <block type="math_number">
                        <field name="NUM">42</field>
                    </block>
                </value>
            </block>
        </value>
        <statement name="DO0">
            <block type="text_print" inline="false">
                <value name="TEXT">
                    <block type="text">
                        <field name="TEXT">Dont panic</field>
                    </block>
                </value>
            </block>
        </statement>
        <statement name="ELSE">
            <block type="text_print" inline="false">
                <value name="TEXT">
                    <block type="text">
                        <field name="TEXT">Panic</field>
                    </block>
                </value>
            </block>
        </statement>
    </block>
</xml>
<div class="demo">
    <div>
        <div class="locale-wrapper">
            <span>Language</span>
            <select id="locale">
                <% for(var i = 0; i < langs.length; i++) { %>
                <option
                <%= langs[i] === 'en' ? 'selected' : '' %> value="<%= langs[i] %>"><%= langs_name[langs[i]] ? langs_name[langs[i]] + ' (' + langs[i].toUpperCase() + ')' : langs[i].toUpperCase()
                %></option>
                <% } %>
            </select>

            <button id="import">Import XML</button>
        </div>

        <div id="editor" style="height: 480px; width: 600px;"></div>

        <xml id="toolbox" style="display: none">
            <category name="Logic" colour="%{BKY_LOGIC_HUE}">
                <block type="controls_if"></block>
                <block type="logic_compare"></block>
                <block type="logic_operation"></block>
                <block type="logic_negate"></block>
                <block type="logic_boolean"></block>
                <block type="logic_null"></block>
                <block type="logic_ternary"></block>
            </category>
            <category name="Loops" colour="%{BKY_LOOPS_HUE}">
                <block type="controls_repeat_ext">
                    <value name="TIMES">
                        <shadow type="math_number">
                            <field name="NUM">10</field>
                        </shadow>
                    </value>
                </block>
                <block type="controls_whileUntil"></block>
                <block type="controls_for">
                    <value name="FROM">
                        <shadow type="math_number">
                            <field name="NUM">1</field>
                        </shadow>
                    </value>
                    <value name="TO">
                        <shadow type="math_number">
                            <field name="NUM">10</field>
                        </shadow>
                    </value>
                    <value name="BY">
                        <shadow type="math_number">
                            <field name="NUM">1</field>
                        </shadow>
                    </value>
                </block>
                <block type="controls_forEach"></block>
                <block type="controls_flow_statements"></block>
            </category>
            <category name="Math" colour="%{BKY_MATH_HUE}">
                <block type="math_number">
                    <field name="NUM">123</field>
                </block>
                <block type="math_arithmetic">
                    <value name="A">
                        <shadow type="math_number">
                            <field name="NUM">1</field>
                        </shadow>
                    </value>
                    <value name="B">
                        <shadow type="math_number">
                            <field name="NUM">1</field>
                        </shadow>
                    </value>
                </block>
                <block type="math_single">
                    <value name="NUM">
                        <shadow type="math_number">
                            <field name="NUM">9</field>
                        </shadow>
                    </value>
                </block>
                <block type="math_trig">
                    <value name="NUM">
                        <shadow type="math_number">
                            <field name="NUM">45</field>
                        </shadow>
                    </value>
                </block>
                <block type="math_constant"></block>
                <block type="math_number_property">
                    <value name="NUMBER_TO_CHECK">
                        <shadow type="math_number">
                            <field name="NUM">0</field>
                        </shadow>
                    </value>
                </block>
                <block type="math_round">
                    <value name="NUM">
                        <shadow type="math_number">
                            <field name="NUM">3.1</field>
                        </shadow>
                    </value>
                </block>
                <block type="math_on_list"></block>
                <block type="math_modulo">
                    <value name="DIVIDEND">
                        <shadow type="math_number">
                            <field name="NUM">64</field>
                        </shadow>
                    </value>
                    <value name="DIVISOR">
                        <shadow type="math_number">
                            <field name="NUM">10</field>
                        </shadow>
                    </value>
                </block>
                <block type="math_constrain">
                    <value name="VALUE">
                        <shadow type="math_number">
                            <field name="NUM">50</field>
                        </shadow>
                    </value>
                    <value name="LOW">
                        <shadow type="math_number">
                            <field name="NUM">1</field>
                        </shadow>
                    </value>
                    <value name="HIGH">
                        <shadow type="math_number">
                            <field name="NUM">100</field>
                        </shadow>
                    </value>
                </block>
                <block type="math_random_int">
                    <value name="FROM">
                        <shadow type="math_number">
                            <field name="NUM">1</field>
                        </shadow>
                    </value>
                    <value name="TO">
                        <shadow type="math_number">
                            <field name="NUM">100</field>
                        </shadow>
                    </value>
                </block>
                <block type="math_random_float"></block>
                <block type="math_atan2">
                    <value name="X">
                        <shadow type="math_number">
                            <field name="NUM">1</field>
                        </shadow>
                    </value>
                    <value name="Y">
                        <shadow type="math_number">
                            <field name="NUM">1</field>
                        </shadow>
                    </value>
                </block>
            </category>
            <category name="Text" colour="%{BKY_TEXTS_HUE}">
                <block type="text"></block>
                <block type="text_join"></block>
                <block type="text_append">
                    <value name="TEXT">
                        <shadow type="text"></shadow>
                    </value>
                </block>
                <block type="text_length">
                    <value name="VALUE">
                        <shadow type="text">
                            <field name="TEXT">abc</field>
                        </shadow>
                    </value>
                </block>
                <block type="text_isEmpty">
                    <value name="VALUE">
                        <shadow type="text">
                            <field name="TEXT"></field>
                        </shadow>
                    </value>
                </block>
                <block type="text_indexOf">
                    <value name="VALUE">
                        <block type="variables_get">
                            <field name="VAR">{textVariable}</field>
                        </block>
                    </value>
                    <value name="FIND">
                        <shadow type="text">
                            <field name="TEXT">abc</field>
                        </shadow>
                    </value>
                </block>
                <block type="text_charAt">
                    <value name="VALUE">
                        <block type="variables_get">
                            <field name="VAR">{textVariable}</field>
                        </block>
                    </value>
                </block>
                <block type="text_getSubstring">
                    <value name="STRING">
                        <block type="variables_get">
                            <field name="VAR">{textVariable}</field>
                        </block>
                    </value>
                </block>
                <block type="text_changeCase">
                    <value name="TEXT">
                        <shadow type="text">
                            <field name="TEXT">abc</field>
                        </shadow>
                    </value>
                </block>
                <block type="text_trim">
                    <value name="TEXT">
                        <shadow type="text">
                            <field name="TEXT">abc</field>
                        </shadow>
                    </value>
                </block>
                <block type="text_print">
                    <value name="TEXT">
                        <shadow type="text">
                            <field name="TEXT">abc</field>
                        </shadow>
                    </value>
                </block>
                <block type="text_prompt_ext">
                    <value name="TEXT">
                        <shadow type="text">
                            <field name="TEXT">abc</field>
                        </shadow>
                    </value>
                </block>
            </category>
            <category name="Lists" colour="%{BKY_LISTS_HUE}">
                <block type="lists_create_with">
                    <mutation items="0"></mutation>
                </block>
                <block type="lists_create_with"></block>
                <block type="lists_repeat">
                    <value name="NUM">
                        <shadow type="math_number">
                            <field name="NUM">5</field>
                        </shadow>
                    </value>
                </block>
                <block type="lists_length"></block>
                <block type="lists_isEmpty"></block>
                <block type="lists_indexOf">
                    <value name="VALUE">
                        <block type="variables_get">
                            <field name="VAR">{listVariable}</field>
                        </block>
                    </value>
                </block>
                <block type="lists_getIndex">
                    <value name="VALUE">
                        <block type="variables_get">
                            <field name="VAR">{listVariable}</field>
                        </block>
                    </value>
                </block>
                <block type="lists_setIndex">
                    <value name="LIST">
                        <block type="variables_get">
                            <field name="VAR">{listVariable}</field>
                        </block>
                    </value>
                </block>
                <block type="lists_getSublist">
                    <value name="LIST">
                        <block type="variables_get">
                            <field name="VAR">{listVariable}</field>
                        </block>
                    </value>
                </block>
                <block type="lists_split">
                    <value name="DELIM">
                        <shadow type="text">
                            <field name="TEXT">,</field>
                        </shadow>
                    </value>
                </block>
                <block type="lists_sort"></block>
            </category>
            <category name="Colour" colour="%{BKY_COLOUR_HUE}">
                <block type="colour_picker"></block>
                <block type="colour_random"></block>
                <block type="colour_rgb">
                    <value name="RED">
                        <shadow type="math_number">
                            <field name="NUM">100</field>
                        </shadow>
                    </value>
                    <value name="GREEN">
                        <shadow type="math_number">
                            <field name="NUM">50</field>
                        </shadow>
                    </value>
                    <value name="BLUE">
                        <shadow type="math_number">
                            <field name="NUM">0</field>
                        </shadow>
                    </value>
                </block>
                <block type="colour_blend">
                    <value name="COLOUR1">
                        <shadow type="colour_picker">
                            <field name="COLOUR">#ff0000</field>
                        </shadow>
                    </value>
                    <value name="COLOUR2">
                        <shadow type="colour_picker">
                            <field name="COLOUR">#3333ff</field>
                        </shadow>
                    </value>
                    <value name="RATIO">
                        <shadow type="math_number">
                            <field name="NUM">0.5</field>
                        </shadow>
                    </value>
                </block>
            </category>
            <sep></sep>
            <category name="Variables" colour="%{BKY_VARIABLES_HUE}" custom="VARIABLE"></category>
            <category name="Functions" colour="%{BKY_PROCEDURES_HUE}" custom="PROCEDURE"></category>
        </xml>
    </div>
    <div class="code-wrapper">
        <div class="tabs">

            <ul class="tabs__caption">
                <li class="active">JS</li>
                <li>PHP</li>
                <li>Lua</li>
                <li>Dart</li>
                <li>Python</li>
                <li>XML</li>
            </ul>

            <div class="tabs__content active">
                <pre id="js"><code class="javascript"></code></pre>
            </div>

            <div class="tabs__content">
                <pre id="php"><code class="php"></code></pre>
            </div>

            <div class="tabs__content">
                <pre id="lua"><code class="lua"></code></pre>
            </div>

            <div class="tabs__content">
                <pre id="dart"><code class="dart"></code></pre>
            </div>

            <div class="tabs__content">
                <pre id="python"><code class="python"></code></pre>
            </div>

            <div class="tabs__content">
                <pre id="xml"><code class="xml"></code></pre>
            </div>
        </div>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js" integrity="sha256-js+I1fdbke/DJrW2qXQlrw7VUEqmdeFeOW37UC0bEiU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/languages/php.min.js" integrity="sha256-kQl5TmPctu+deBgPgPOss+mbKTJoOpe3LOAflXvuMUY=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/languages/javascript.min.js" integrity="sha256-x3ducqWgfzH2JLxwkA7vfwbJC7nZgvdypVl0Gy0L/z0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/languages/dart.min.js" integrity="sha256-me5/kWnpLL7JiOz0vPX/fG1xMQt/3BL+RRFWWIQ47Lc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/languages/lua.min.js" integrity="sha256-K92Gf25zBrh58ZlALdvZik/93u+SkrkukisdjQ0uLkg=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/languages/python.min.js" integrity="sha256-68czD4LOxm3vDFkFAirVhzdq3N3aXwf8BT4q9kb3kHM=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/languages/xml.min.js" integrity="sha256-68czD4LOxm3vDFkFAirVhzdq3N3aXwf8BT4q9kb3kHM=" crossorigin="anonymous"></script>
<script>
  $(function() {
    $('ul.tabs__caption').on('click', 'li:not(.active)', function() {
      $(this)
        .addClass('active').siblings().removeClass('active')
        .closest('div.tabs').find('div.tabs__content').removeClass('active').eq($(this).index()).addClass('active');
    });

  });
</script>
</body>
</html>